replicaCount: 1

fullname: goappTest
name: goapp

image:
  repository: docker.io/denyyulianto/test-deni
  tag: "latest"
  pullPolicy: IfNotPresent

service:
  type: ClusterIP
  port: 8282

ingress:
  enabled: false
  className: ""
  annotations: {}
  hosts:
    - host: myapp.local
      paths:
        - path: /
          pathType: Prefix
  tls: []
