replicaCount: 1

fullname: goapptest
name: goapp

image:
  repository: denyyulianto/test-deni
  tag: "latest"
  pullPolicy: Always

service:
  type: ClusterIP
  port: 8181

ingress:
  enabled: false
  className: ""
  annotations: {}
  hosts:
    - host: myapp.local
      paths:
        - path: /
          pathType: Prefix
  tls: []
